<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firearms.gunbot"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="com.firearms.gunbot.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.firearms.gunbot.GunbotWatchViewActivity"
            android:label="@string/title_activity_gunbot_watch_view"
            android:parentActivityName="com.firearms.gunbot.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firearms.gunbot.MainActivity" />
        </activity>
        <activity
            android:name="com.firearms.gunbot.GunbotNewWatchActivity"
            android:label="@string/title_activity_gunbot_new_watch"
            android:parentActivityName="com.firearms.gunbot.GunbotWatchViewActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firearms.gunbot.GunbotWatchViewActivity" />
        </activity>
        <activity
            android:name="com.firearms.gunbot.GunbotSettingsActivity"
            android:label="@string/title_activity_gunbot_settings"
            android:parentActivityName="com.firearms.gunbot.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.firearms.gunbot.MainActivity" />
        </activity>
        <service android:enabled="true" android:name=".GunbotBackgroundUpdater"></service>
    </application>

</manifest>